.header {
  border-bottom: 1px solid #e5e5e5;
  max-width: 1920px;
  width: 100%;

  &-container {
    max-width: 1520px;
    padding: 30px 40px 25px 40px;
    display: flex;
    margin: 0 auto;
  }

  &__back {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;

    &:hover {
      opacity: 0.7;
    }

    span {
      color: #000000;
      font-size: 14px;
      font-weight: 500;
      margin-left: 9px;
    }
  }

  &__logo {
    justify-self: center;
    margin: auto;
  }

  &__sign-in {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;

    &:hover {
      opacity: 0.7;
    }

    span {
      margin-left: 9px;
      font-size: 14px;
      font-weight: 500;
      color: #000000;
    }
  }
}

@media (max-width: 635px) {
  .header{
    &-container{
      padding: 10px 15px;
    }

    &__back {
      span {
        display: none;
      }
    }

    &__sign-in{
      span {
        display: none;
      }
    }

    &__logo {
      width: 80%;
    }
  }
}