.promotions {
  max-width: 1920px;
  margin-top: 60px;
  padding: 0 15px; }
  .promotions-container {
    max-width: 1520px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center; }
  .promotions__header {
    display: none; }
  .promotions__card {
    display: flex;
    padding: 0 15px 20px 15px; }
  .promotions__promotion {
    max-width: 400px;
    width: 100%;
    margin: 0 auto 30px;
    box-shadow: 0px 0px 29px 3px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    transition: 0.5s;
    height: 100%; }
    .promotions__promotion:hover {
      background-color: rgba(0, 0, 0, 0.1); }
  .promotions__card-top {
    position: relative;
    padding: 50% 0 0; }
  .promotions__card-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ccc; }
  .promotions__card-bottom {
    padding: 30px;
    display: flex;
    height: 100%;
    position: relative;
    flex-direction: column;
    align-items: center; }
  .promotions__card-header {
    font-size: 28px; }
    .promotions__card-header--blue {
      color: #2b87dc; }
    .promotions__card-header--green {
      color: #1ab0b9; }
    .promotions__card-header--darkblue {
      color: #3a55af; }
  .promotions__card-price {
    margin-top: 10px;
    font-size: 24px;
    color: #000000; }
  .promotions__card-subject {
    font-size: 16px;
    margin-top: 7px;
    color: #000000; }
  .promotions__link-start {
    margin-top: 25px;
    padding: 13px 32px;
    color: #ffffff;
    border-radius: 9999px;
    font-size: 15px;
    transition: 0.5s; }
    .promotions__link-start--blue {
      background-color: #2b87dc;
      border: 2px solid #2b87dc;
      cursor: pointer; }
      .promotions__link-start--blue:hover {
        background-color: #ffffff;
        color: #2b87dc; }
    .promotions__link-start--green {
      background-color: #1ab0b9;
      border: 2px solid #1ab0b9;
      cursor: pointer; }
      .promotions__link-start--green:hover {
        background-color: #ffffff;
        color: #1ab0b9; }
    .promotions__link-start--darkblue {
      background-color: #3a55af;
      border: 2px solid #3a55af;
      cursor: pointer; }
      .promotions__link-start--darkblue:hover {
        background-color: #ffffff;
        color: #3a55af;
        border: 2px solid #3a55af; }
  .promotions__list {
    margin-top: 50px;
    align-self: flex-start; }
    .promotions__list-marker {
      font-size: 15px; }
    .promotions__list-item {
      display: flex;
      padding-bottom: 25px; }
      .promotions__list-item p {
        padding-right: 10px;
        font-size: 14px;
        color: #000000; }
    .promotions__list--blue .promotions__list-marker {
      color: #2b87dc; }
    .promotions__list--green .promotions__list-marker {
      color: #1ab0b9; }
    .promotions__list--darkblue .promotions__list-marker {
      color: #3a55af; }
  .promotions__checkboks {
    align-self: flex-start; }
    .promotions__checkboks-item {
      display: flex;
      flex-direction: row; }
      .promotions__checkboks-item p {
        padding-bottom: 20px;
        color: #000000;
        font-size: 14px;
        padding-left: 5px; }
  .promotions__card-details {
    position: absolute;
    bottom: 5%;
    left: 45%;
    right: 45%;
    font-size: 15px;
    transition: 0.5s; }
    .promotions__card-details:hover {
      opacity: 0.8; }
    .promotions__card-details--blue {
      color: #2b87dc; }
    .promotions__card-details--green {
      color: #1ab0b9; }
    .promotions__card-details--darkblue {
      color: #3a55af; }

/*# sourceMappingURL=promotions.css.map */
