section.benefits
  .benefits-container
    h2.benefits__header Benefits
    .row.benefits__cards
      - for (i=0;i<4;i++)
        .col-12.col-md-6.col-lg-3.benefits__card
          .benefits__card-container
            span.benefits__card-star &#9734;
            p.benefits__card-title Access to exclusive, behind-the-scenes stories, photos and videos from our journalists 
            p.benefits__card-subtitle Get the substance behind the slogans with Sun Diego Union Tribune unrivaled coverage of the 2016 U.S. election.