header.header
  .header-container
    a(href="#").header__back
      img(src="img/arrow_left.svg" alt="arrow")
      span BACK
    img(src="img/logo.png" alt="logo").header__logo
    a(href="#").header__sign-in
      img(src="img/profile.svg" alt="profile")
      span SIGN IN