section.text
  .text-container
    h2.text__header Place some text here
    p.text__main-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at nisl est. Morbi ut odio et felis ultricies tincidunt. Nullam interdum nec lectus at sagittis. Pellentesque fringilla ligula tortor, faucibus dictum massa mollis ac. Aenean sollicitudin mi quis purus placerat, vitae tempor nisl imperdiet. Integer non sodales mauris. 
    a.text__btn-more MORE 